body,
html {
  /* width: 100%; */
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h3{

  color: azure;
}
.btn-xl{
border-radius: 300px;
}
hr{

  background-color: orangered;
  border-width: 3px;
  max-width: 65px;
}
.buffer{

  height: 10rem;
}